@using JsonPlaceholder.Models

@model Album

@foreach (Photo photo in Model.Photos)
{
    <tr>
        <td>
            @photo.Title
        </td>
        <td>
            @Model.Title
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <a href="@photo.Url">
                    <img src="@photo.ThumbnailUrl" class="card-img-top" alt="@photo.Title">
                </a>
            </div>
        </td>
    </tr>
}

